nav ul{
    list-style: none;
}
nav ul a{
    text-decoration: none;
}
.display-flex{
    display: flex;
}

.nav-list{
    gap: 20px;
    margin-right: 120px;
    
}

.navbar{
    justify-content: space-between;
    align-items: center;
    
    
}
.infulencer{
    margin-left: 120px;
}
.header-second{
    margin-top: 120px;
    /* justify-content: space-between; */
    /* gap: 500px; */
    /* max-width: 1440px; */
    /* margin: 120px auto; */
    /* align-items: center; */
    /* justify-content: center; */
     /* justify-content: space-between; */
     justify-content: space-between;
      /* border: 2px solid red;  */
     /* max-width: 1440px; */
}
.start-journey{
     /* align-items: center; */
     /* text-align:0px; */
     margin-left: 120px;
     
}
.start{
    width:582px;
    height: 133px;
    font-weight: bold;
    font-size: 3.25rem;

}
.second-bg{
    background-image: url(../images/Circle\ design.svg);
     padding:30px;
     background-repeat: no-repeat;
      /* width: 20%;  */
      background-size: contain;
}
.main-camera img{
        width: 100%; 
      max-width: 440px; */
    /* height: 415px; */
    /* margin-right: 160px; */
    margin-top:5px;
}
.main-camera{
     margin-right: 160px; */
     margin-top: 30px;
    
}


.btn-primary{
    background-color: #E02C6D;
    border: none;
    border-radius:41px;
    padding:10px ;
    height: 44px;
    width: 196px;
    color: white;
    align-items: center;
    text-align: center;
}
.sites{
    
   display: grid;
   grid-template-columns: repeat(7 ,1fr);
   max-width: 1440px;
   margin: 120px auto;
   /* gap: 0px; */
}
main > section{
    max-width: 1440px;
    margin: 0 auto;
}
.title{
    text-align: center;
    font-weight: 600;
    font-size: 1.75rem;
}
.star-icon{
    align-items: center;
    gap: 20px;
}
.dark-gray{
    color: #787885;
}
.card{
    /* width: 329px; */
    height: 476px;
    box-shadow:0 0 40px 0 rgba(0, 0, 0, 0.15) ;
    padding-left: 80px;
    padding-bottom: 15px;
     margin-bottom: 20px;
    
    padding-top: 15px;
    border-radius: 15px;
}
.card-items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    
}
.More{
    text-align: right;
    margin-top: 50px;
    color: #E02C6D;
    font-weight: bold;
    
}
.featured{
    margin-top: 100px;
    
}
.feature-things{
    gap: 95px;
}
.feature-title{
    font-weight: bold;
    font-size: 2.25rem;
}
.dark-light-gray{
    color: #6C6C6C;
}
.btn-secondary{
    background-color: #E02C6D;
    color: white;
    width: 155px;
    height: 44px;
    padding: 10px;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;

}
footer{
    margin-top: 100px;
    text-align: center;
    background-color:rgb(1, 1, 14);
    color:white
}
@media screen and (max-width:576px){

    .infulencer{
        margin-left: 0px;
    }
    .nav-list{
        margin-right: 0px;
    }
    .main-camera img{
        margin-right: 0px;
        
        
    }
    .main-camera{
       /* padding: 50px; */
       /* width: 100%; */
    }
    .second-bg{
        width: 100%; */
     
    
    }
    .navbar{
        flex-direction: column;

    }

    .header-second{
        flex-direction: column-reverse;
        gap: 100px;
    }
    .sites{
        grid-template-columns: repeat(3 ,1fr);
        gap: 30px;
    }
    .start-journey{
        margin-left: 0px;
        
    }
    .start{
        font-size: 2rem;
    }
    .card-items-container{
        grid-template-columns: repeat(1 , 1fr);
    }
    .feature-things{
        flex-direction: column;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar{
        flex-direction: column;
    }
    .infulencer{
        margin-left: 0px;
    }
    .nav-list{
        margin-right:0px;
    }
    .header-second{
        flex-direction:column;
    }
    .main-camera{
      margin-top: 50px;
    }
    .sites{
        grid-template-columns: repeat(4 ,1fr);
        gap: 30px;
    }
    .card-items-container{
        grid-template-columns: repeat(1 , 1fr);
    }
    .feature-things{
        flex-direction:column;
        text-align: center;
    }
    .start{
        font-size: 2.5rem;
    }

}

